<%- include('../../partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>
        Register for a new account by providing your information below. All fields are required and passwords must meet security requirements.
    </p>

    <form method="POST" action="/register" class="registration-form">
        <!-- Name field -->
        <div class="form-group">
             <label for="name">Name 
                <input type="text" id="name" name="name" minlength="2" placeholder="Inigo Montoya" required>
             </label>
        </div>

        <!-- Email field -->
        <div class="form-group">
            <label for="email"> Email
                <input type="email" id="email" name="email" placeholder="inigo@montoya.com" required>
            </label>
        </div>


        <div class="form-group">
            <label for="email"> Confirm Email
                <input type="email" id="emailConfirm" name="emailConfirm" placeholder="inigo@montoya.com" required>
            </label>
        </div>

        <!-- Password field -->
        <div class="form-group">
            <label for="password"> Password
                <div class="help-text">
                    <p>Must be at least 8 characters with a number and special character.</p>
                </div>
                <input type="password" id="password" name="password" minlength="8" pattern="(?=.*[0-9])(?=.*[!@#$%^&*]).*" required>
            </label>
        </div>

        <!-- Password confirmation field -->
        <div class="form-group">
            <label for="passwordConfirm"> Password Confirmation
                <input type="password" id="passwordConfirm" name="passwordConfirm" minlength="8" pattern="(?=.*[0-9])(?=.*[!@#$%^&*]).*" required>
            </label>
        </div>


        <!-- Submit button -->
         <button type="submit">Create Account</button>
    </form>
</main>
<%- include('../../partials/footer') %>