html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
body {
    &.blue-theme { background-color: #e3f2fd; }
    &.green-theme { background-color: #e8f5e8; }
    &.red-theme { background-color: #ffebee; }
    main {
        width: 80vw;
        margin: auto;
        padding: 20px;
        background-color: white;
    }
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            padding: 16px;
            background-color: rgb(141, 217, 252);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border: 1px solid #333;
            &:hover {
                background-color: #0066cc;
            }
        }
    }
    img {
        width: 45vw;
    }
    p {
        margin: 20px 0px;
    }
}