<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
        <h1>About Me, Myself, I</h1>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
        </nav>
        <p>My name is Ammon Shepherd</p>
        <img src="/images/me.jpg" alt="A picture of me and Mr. Johnson from Sesame Street">
        <p> I was born in Mesa, Arizona. I served a mission to Hamburg, Germany in the late 90's. I married Jessica in 2000. We have six kids, three boys and three girls. After graduating from Arizona State University with a Bachelors of Arts in German and one in History, my wife and two children moved to Virginia so I could do graduate work at George Mason University.  My greatest accomplishment while there was adding four more children to our family. I also finished an MA in History and ended the Ph.D. program just short of successfully completing. I would say I'm ABD, but I actually did write a dissertation, but it was not acceptable before I ran out of time to complete it. For the curious, it is available here: https://ammonshepherd.github.io/nazitunnels-archive/dissertation.htmlLinks to an external site..</p>

        <p> While working on degrees in history I kept my family fed and sheltered by working full-time in the IT field. I have worked as a desktop support specialist, freelance web developer, webmaster, systems administrator, Associate Director of Technology, Digital Humanities Developer, dev ops, and Makerspace manager (which means I get to learn, teach and use about 3D printers, electronics, sewing machines, button makers, and just about any other fun technology I can think of).</p>

        <p> I love serving in the Church, and usually get to work with the youth. I have been Young Mens president, Elders Quorum president, Sunday School president (twice), early morning Seminary teacher (for 5 years), Bishop, Stake Institute teacher, and Stake YM Presidency. I am truly humbled to see the power of Jesus Christ's Atonement work in people's lives when they humble themselves and turn toward Him.</p>

        <p> I love learning and helping others learn and understand technology. I'm excited to share this learning adventure with you!</p>
    </main>
  </body>
</html>
