<%- include('partials/header') %>
<div class="sections">
    <h1>About Me, Myself, I</h1>
    <p>My name is Ammon Shepherd</p>
    <img src="/images/me.jpg" alt="A picture of me and Mr. Johnson from Sesame Street">
    <p> I was born in Mesa, Arizona. I served a mission to Hamburg, Germany in the late 90's. I married Jessica in 2000. We have six kids, three boys and three girls. After graduating from Arizona State University with a Bachelors of Arts in German and one in History, my wife and two children moved to Virginia so I could do graduate work at George Mason University.  My greatest accomplishment while there was adding four more children to our family. I also finished an MA in History and ended the Ph.D. program just short of successfully completing. I would say I'm ABD, but I actually did write a dissertation, but it was not acceptable before I ran out of time to complete it. For the curious, it is available here: https://ammonshepherd.github.io/nazitunnels-archive/dissertation.htmlLinks to an external site..</p>


    <p> I love serving in the Church, and usually get to work with the youth. I have been Young Mens president, Elders Quorum president, Sunday School president (twice), early morning Seminary teacher (for 5 years), Bishop, Stake Institute teacher, and Stake YM Presidency. I am truly humbled to see the power of Jesus Christ's Atonement work in people's lives when they humble themselves and turn toward Him.</p>

    <p> I love learning and helping others learn and understand technology. I'm excited to share this learning adventure with you!</p>
</div>
<%- include('partials/footer') %>