<%- include('partials/header') %>

    <div class="sections">
        <h1><%= title %></h1>
        <p>Welcome to my Express application! This site demonstrates the power of templating engines.</p>
        <img src="https://picsum.photos/600/400" alt="Random image">
    </div>
<%- include('partials/footer') %>